name: $(SourceBranchName)_$(date:yyyyMMdd)$(rev:.r)

resources:
  repositories:
    - repository: 'azurepipelines'
      type: 'github'
      name: 'Fazzani/azurepipelines'
      endpoint: 'fazzani'

parameters:
- name: sonar_enabled
  displayName: Sonar enabled
  type: boolean
  default: true

pool:
  vmImage: $(imageName)

pr:
  branches:
    include:
    - master
    - develop
    - refs/tags/v*
  paths:
    exclude:
    - docs/*
    - README.md

trigger:
  branches:
    include:
    - master
    - develop
    - refs/tags/v*
  paths:
    exclude:
    - docs/*
    - readme.md

variables:
  buildConfiguration: 'Release'
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE : true
  TestOutputDirectory: '$(Agent.TempDirectory)/TestResults'
  COV_REPORTS_DIR: '$(TestOutputDirectory)/mergedcoveragereport'
  SONAR_PROJECT_KEY: 'gdriveano'
  SONAR_PROJECT_NAME: 'gdriveano'
  SONAR_ORG: fazzani-github

strategy:
  matrix:
    # linux:
    #  imageName: 'ubuntu-16.04'
    windows:
      imageName: 'windows-2019'

jobs:
- template: dotnet-classic-build.yml@azurepipelines