name: $(SourceBranchName)_$(date:yyyyMMdd)$(rev:.r)

resources:
  repositories:
    - repository: 'azurepipelines'
      type: 'github'
      name: 'Fazzani/azurepipelines'
      endpoint: 'fazzani'

parameters:
- name: sonar_enabled
  displayName: Sonar enabled
  type: boolean
  default: true

pool:
  vmImage: $(imageName)

pr:
  branches:
    include:
    - master
    - develop
    - refs/tags/v*
  paths:
    exclude:
    - docs/*
    - README.md

trigger:
  branches:
    include:
    - master
    - develop
    - refs/tags/v*
  paths:
    exclude:
    - docs/*
    - readme.md

variables:
  buildConfiguration: 'Release'
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE : true
  SONAR_PROJECT_KEY: 'gdriveano'
  SONAR_PROJECT_NAME: 'gdriveano'
  SONAR_ORG: fazzani-github

strategy:
  matrix:
    # linux:
    #  imageName: 'ubuntu-16.04'
    windows:
      imageName: 'windows-2019'
steps:
- template: dotnet-classic-build.yml@azurepipelines
  parameters:
    sonar_project_org: $(SONAR_ORG)
    sonar_project_key: $(SONAR_PROJECT_KEY)
    sonar_project_name: $(SONAR_PROJECT_NAME)
    buildConfiguration: $(buildConfiguration)
    sonar_connection_service: sonarqube